.contact{
   margin: auto;
}
.contact_header{
   text-align: center;
   padding-top:30px ;
}
.contact_header h5{
  font-size: 1.1rem;
}
.contact_header h2{
   font-size: 2rem;
}
.contact_header p{
   color: grey;
}
.card_container1{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
border: 1px solid rgb(241, 241, 241);
background: #ffffff;
border-radius: 10px;
padding: 10px;
margin: auto 150px;
}
.vertical_line{
  height: 350px;
  width: 1px;
  background: rgb(38, 38, 38);
}
.card_left_side{
   margin: 20px 70px;
}
.card_left_side p{
font-size: 18px;
padding: 0px;
margin: auto;
}
.card_left_side h2{
   font-size: 29px;
}
.inputs{
   width: 100%;
   margin-bottom:16px ;
}
.inputs input,.inputs textarea{
   border-radius: 5px;
   width: 460px;
   padding: 8px 4px;
   box-sizing: border-box;
   outline: 0;
   
}
textarea{
   border-radius: 5px   ;
   width: 460px;
   height: 150px;
}
.inputs input::placeholder,.inputs textarea::placeholder{
   color: #888;
   text-align: start;
}
.card_left_side .sengMsgBtn{
outline: 0;
border: 0;
padding: 8px 15px;
margin-top: 15px;
background: #EC5E04;
color: white;
border-radius: 10px;
}
.card_left_side .sengMsgBtn:hover{
   transform: translateY(-3px);
   box-shadow: 1px 3px 5px black;
}
.card_right_side {
   width: 30%; /* Adjust the width to fit your design */
   margin: 20px; /* Space around the card */
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 20px;
   background-color: #f9f9f9;
   border-radius: 8px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }
 
 .card_right_side_inside {
   display: flex;
   align-items: flex-start; /* Align items to the start */
   margin: 15px 0;
 }
 
 .card_right_side_inside div:first-child {
   margin-right: 15px; /* Space between icon and text */
 }
 
 .card_right_side_inside h5 {
   margin: 0 0 5px 0; /* Space between h5 and p */
   font-size: 1.2rem;
 }
 
 .card_right_side_inside p {
   margin: 0; /* Remove default margins */
   font-size: 1rem;
 }
 
 .card_right_side_inside div svg {
   color: #EC5E04;
   font-size: 1.5rem;
 }
 .line{
   width: 300px;
   height: 1px;
   background:rgba(0,0,0,0.1);
 }